<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Portal Corporativo</title>

    <link rel="stylesheet" href="../static/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>

<header>
    <h2>Portal Corporativo</h2>
</header>

<section class="hero">
    <h1>Bem-vindo ao Portal Corporativo</h1>

    <p>
        Central de acesso aos dashboards estratégicos.
    </p>
</section>

<div class="container">

    <div class="cards">

        <div class="card-dashboard">
            <h3>📊 Oportunidades Salesforce</h3>

            <p>
                Indicadores e acompanhamento comercial.
            </p>

            <a href="/oportunidades-salesforce">
                Acessar
            </a>
        </div>

        <div class="card-dashboard">
            <h3>⚙️ Atuações</h3>

            <p>
                Gestão operacional e produtividade.
            </p>

            <a href="/atuacoes">
                Acessar
            </a>
        </div>

        <div class="card-dashboard">
            <h3>🚦 Farol</h3>

            <p>
                Indicadores executivos da empresa.
            </p>

            <a href="/farol">
                Acessar
            </a>
        </div>

    </div>

</div>

<footer>
    Portal Corporativo © 2026
</footer>

</body>
</html>